---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/* --- 프로필 사진 사각형으로 만들고 크기 키우기 --- */
.author__avatar img {
  border-radius: 0 !important; /* 사각형 모양 유지 */
  width: 200px !important;     /* 너비를 250px로 키움 (원하는 크기로 숫자 조절 가능) */
  max-width: none;             /* 테마의 기본 최대 너비 제한을 해제 */
}